.org-group {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}


.org-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00ff88;
}
